.login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 620px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    height: 50vh;
    margin: 0;
    padding: 0;
}

.form-row {
    width: 412px;
    height: 95px;
}

#username {
    width: 400px;
    height: 30px;
    margin-top: 7px;
    outline-style: none;
    border: 1px solid black;
    padding: 0px 5px;
    font-size: 18px;
   
}

#password {
    width: 400px;
    height: 30px;
   margin-top: 7px;
   outline-style: none;
   border: 1px solid black;
   padding: 0px 5px;
   font-size: 18px;
}

label {
    font-size: 18px;
}

#loginBtn {
    width: 412px;
    height: 30px;
}

.error {
    color: red;
}

.directToRegiter {
    
    width: 412px;
}