.login-page {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.signInLeftColumn {
    width: 50%;
    
}

.signInLeftColumn img {
    width: 100%;
    height: 91vh;
    margin-top: 10px;
}

.signInRightColumn {
    width: 50%;
    height: 90vh;
    display: flex;
   flex-direction: column;
}

.error {
    color: red;
}

.form-container {
    margin-top: 150px;
}

#username {
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-style: none;
    padding: 5px;
}

#password {
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-style: none;
    margin-top: 20px;
    padding: 5px;
}

#loginBtn {
    margin-top: 20px;
}

.redirection {
    text-decoration: none;
}