.contact-list-container {
    width: 100%;
    height: 91.5vh;
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    background-color: lightgray;
}

.contact-list-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid black;
    width: 70%;
    height: 50px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 5px 5px darkgrey;
}

.card-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    
}

.card-start p {
    margin: 0px 10px;
}

.card-end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px 10px;
}

.card-end p {
    margin: 0px 10px;
}

.deleteBtn {
    background-color: rgb(248, 66, 66);
    border: 1px solid black;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

